/* ================================================== */
/* ---------- Splash Page Specific Styles ----------- */
/* ================================================== */
body {
	background: #fff url("../images/bg.png") top center repeat;
}

#content-container {
	width: 350px;
	margin: 0 auto;
}

h1 {
	display: block;
	width: 350px;
	height: 235px;
	text-indent: -9999px;
	margin: 125px auto 0 auto;
	background-image: url("../images/bg-cd-logo-splash.png");
}

#cd-headline-container {
	position: relative;
}

h2.cd-headline,
h2.cd-headline-two {
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 27px;
	text-transform: uppercase;
	text-align: center;
	margin: -14px 0 0 0;
	font-weight: 700;
	background: -webkit-linear-gradient(#9c9c9c, #000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2.cd-headline span,
h2.cd-headline-two span {
	font-weight: 700;
	background: -webkit-linear-gradient(#d1222b, #6d080e);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2.cd-headline-two {
	position: absolute;
	top: 0;
	left: 0;
}

#cd-headline-container .copyright {
	font-size: 12px;
	position: absolute;
	background: -webkit-linear-gradient(#9c9c9c, #000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h3.cd-date {
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 20px;
	color: #666;
	text-align: center;
	text-transform: uppercase;
	color: #c0c0c0;
	font-weight: 300;
}

#services-container {
	position: relative;
	width: 225px;
	margin: 15px auto 0 auto;
}

#services-container a {
	display: block;
	position: relative;
	width: 75px;
	height: 75px;
	text-indent: -9999px;
	top: 0;
	transition: all 0.5s;
	cursor: pointer;
	float: left;
	filter: gray; /* IE5+ */
	-webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
	-webkit-transition: all 0.6s ease-in-out;
	-moz-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
	-moz-transition: all 0.6s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#services-container a#wordpress {
	background-image: url("../images/bg-wordpress-logo.png");
	opacity: 0.7;
}

#services-container a#wordpress:hover {
	opacity: 1;
}

#services-container a#drupal {
	background-image: url("../images/bg-drupal-logo.png");
	opacity: 0.7;
}

#services-container a#drupal:hover {
	opacity: 1;
}

#services-container a#shopify {
	background-image: url("../images/bg-shopify-logo.png");
	opacity: 0.7;
}

#services-container a#shopify:hover {
	opacity: 1;
}

#services-container a:hover {
	top: -5px;
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	filter: none;
}
